*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



body{
  background-image: url(./imggg/секун-омера-49373022.webp);
  background-size: cover;

}
.secondomer{
  width: 200px;
  background-color: #252525;
  margin-left: 600px;
  color: white;
  text-align: center;
  padding-top: 50px;
  margin-top: 200px;
  border-radius: 20px;
}
ul{
  list-style:none;
}
button{
  border-radius: 10px;
  width: 95px;
  
}
p{
  margin-bottom: 35px;
}
